<!doctype html>
<html lang="ru">
<head>
    <title>ACS kapitalBank</title>
</head>
<body>
<p> ACS emulator KapitalBank</p>

<form action="{{ termUrl }}" method="post">
    <table border="1" width="200" hight="300" align="centre" valign="centre">
        <tbody>
        <tr>
            <td align="centre" valign="centre">
                3DSecure:
                <input type="text" name="pa" value="">
            </td>
        </tr>
        <tr>
            <td align="centre" valign="centre">
                <input type="hidden" name="cRes" value="{{ cRes }}">
                <input type="submit" value="OK">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
